<a href="https://colab.research.google.com/github/kvraagul/TimeSeriesAnalysis/blob/main/StockPriceDataWithPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Install Yahoo Finance**

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/5e/4e/88d31f5509edcbc51bcbb7eeae72516b17ada1bc2ad5b496e2d05d62c696/yfinance-0.1.60.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/30/c0/d0526314971fc661b083ab135747dc68446a3022686da8c16d25fcf6ef07/lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3MB)
     |████████████████████████████████| 6.3MB 11.6MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.60-py2.py3-none-any.whl size=23819 sha256=05f4e10024a826dd5d3a71a0a477cfee8abf45de67898e54592fb3b16cb4d8b4
  Stored in directory: /root/.cache/pip/wheels/f0/be/a4/846f02c5985562250917b0ab7b33fff737c8e6e8cd5209aa3b
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.60

In [8]:
import yfinance

**Define the Ticker Symbol**

In [9]:
ticker_symbol = 'AAPL'

**Get data on this Ticker**

In [10]:
ticker_data = yfinance.Ticker(ticker_symbol)

**Get the historical prices for this Ticker**

In [11]:
df = ticker_data.history(period='1d',start='2021-06-01',end='2021-07-01')

In [12]:
df

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2021-06-01  125.080002  125.349998  ...          0             0
2021-06-02  124.279999  125.239998  ...          0             0
2021-06-03  124.680000  124.849998  ...          0             0
2021-06-04  124.070000  126.160004  ...          0             0
2021-06-07  126.169998  126.320000  ...          0             0
2021-06-08  126.599998  128.460007  ...          0             0
2021-06-09  127.209999  127.750000  ...          0             0
2021-06-10  127.019997  128.190002  ...          0             0
2021-06-11  126.529999  127.440002  ...          0             0
2021-06-14  127.820000  130.539993  ...          0             0
2021-06-15  129.940002  130.600006  ...          0             0
2021-06-16  130.369995  130.889999  ...          0             0
2021-06-17  129.800003  132.550003  ...          0             0
2021-06-18  130.710007  131.509995  ...          0             0
2021-06-21  130.300003  132.410004  ...          0             0
2021-06-22  132.130005  134.080002  ...          0             0
2021-06-23  133.770004  134.320007  ...          0             0
2021-06-24  134.449997  134.639999  ...          0             0
2021-06-25  133.460007  133.889999  ...          0             0
2021-06-28  133.410004  135.250000  ...          0             0
2021-06-29  134.800003  136.490005  ...          0             0
2021-06-30  136.169998  137.410004  ...          0             0

[22 rows x 7 columns]

In [15]:
df.count()

Open            22
High            22
Low             22
Close           22
Volume          22
Dividends       22
Stock Splits    22
dtype: int64